.App {
  font-family: sans-serif;
  text-align: center;
}

.user-pic {
  height: 10rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  /* border: 4px solid; */
}

.user-greeting {
  margin-top: 0.25rem;
  margin-bottom: 0rem;
  text-align: center;
}

.user-greeting span {
  font-style: italic;
  font-weight: bold;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.movie-list-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  background: whitesmoke;
  font-family: sans-serif;
  justify-content: space-around;
  margin: 0;
}

.movie-container {
  width: 18rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  /* border: solid; */
  /* border-color: rgb(99, 156, 189); */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  .movie-update{
    display: flex;
    justify-content: space-between;
  }
}

.movie-summary {
  color: rgb(83, 81, 81);
  line-height: 1.4;
  text-align: justify;
}

.movie-pic {
  width: 97%;
  align-self: center;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px;
}

.content-container div {
  display: flex;
  justify-content: space-between;
}

.like-progress-container {
  .counter-container {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
  }
  .progress {
    display: flex;
    justify-content: center;
  }
}

nav {
  justify-content: center;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 2rem;
  padding: 2rem 0rem;
  a {
    text-decoration: none;
  }
}

.add-movie{
  display: flex;
  flex-direction: column;
  align-items: center;
}